.pokemon-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0 10px var(--ion-color-dark-shade, rgba(0, 0, 0, 0.8)));
  margin: 0;
}

.pokemon-card img {
  width: 100%;
  max-width: 100%;
  height: 170px;
  object-fit: contain;
  display: block;
}
