.segment {
  padding: 12px 16px;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--ion-background-color, #fff);
}

.posts-container {
  padding: 16px;
}

ion-fab {
  margin: 0;
  padding-bottom: 16px;
}
