ion-modal#create-post-modal {
  --height: 60%;
  --border-radius: 20px;
  --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* BACKDROP DIFUMINADO */
ion-modal#create-post-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  opacity: 1;
}

/* HEADER */
ion-modal#create-post-modal ion-toolbar {
  --background: var(--ion-color-primary);
  --color: white;
}

/* INPUTS */
.create-post-item {
  --background: transparent;
  --border-radius: 12px;
  margin-bottom: 12px;
}

/* BOTÓN CREAR */
.create-post-button {
  margin-top: 20px;
  height: 45px;
  font-weight: bold;
  border-radius: 14px;
}

@media (max-width: 768px) {
  ion-modal#create-post-modal {
    --height: 45%;
  }
}
