h1 {
  font-size: 60px;
  padding: 15px;
  margin: 20px 0;
  text-align: center;
}

/* Artículo Destacado */
.articulo-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 40px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.articulo-texto {
  flex: 2;
  padding-right: 20px;
  margin-top: 10px;
  color: var(--ion-text-color);
}

.articulo-texto p {
  text-align: left;
}

.articulo-imagen {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articulo-imagen img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 5px;
}

/* --- MÓVIL (Responsividad) --- */
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    padding: 10px;
    margin: 10px 0;
  }

  .articulo-container {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 20px 10px;
  }

  .articulo-texto {
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }

  .articulo-texto h2 {
    font-size: 20px;
  }

  .articulo-texto p {
    font-size: 14px;
    text-align: justify;
  }
}
